- Defers verification
- Executed per shard in batches called [[Epochs]]
![[Pasted image 20251215021641.png]]