Every operation issued by a client is subsequently verified if the client calls the verify operation
![[Pasted image 20251215021544.png]]